

  body { /* Visual */ background: #660000;}

  #image-holder {
    /* Positioning */
     margin: 0 auto;
    /* Box-model */
    width: 400px;
    /* Typography */
    text-align: center;
  }

  #timer {
    margin: 0 25px;
    width: 200px;
    height: 50px;
    background-color: #770077;
    color: #ffccff;
  }

  #buttons {
    /* Positioning */
    margin: 2px auto;
    /* Typography */
    text-align: center;
  }

  button {
    /* Box-model */
    width: 500px;
    height: 70px;
    margin: auto;
  }

  .question {
    text-align: center;
  }

  .jumbotron {
    padding: 10px;
    margin: 5px auto;
  }
