

  body { /* Visual */ background: #660000;}

  #image-holder {
    /* Positioning */
     margin: 0 auto;
    /* Box-model */
    width: 400px;
    /* Typography */
    text-align: center;
  }

  #scoreboard {
    margin: 0 auto;
    width: 100px;
    height: 200px;
    background-color: #330033;
  }

  #timer {
    margin: 0 25px;
    width: 200px;
    height: 50px;
    background-color: #770077;
    color: #ffccff;
  }

  #buttons {
    /* Positioning */
    margin: 2px 0;
    /* Typography */
    text-align: center;
  }

  button {
    /* Box-model */
    width: 500px;
    height: 70px;
    align-self;
  }

  .question {
    text-align: center;
  }

  .jumbotron {
    padding: 10px;
    margin: 5px;
  }
